.MuiTypography-root:hover{
    cursor: pointer;
}

.css-gmuwbf{
    text-align: center;
}

.css-1f11nhg{
    cursor: pointer;
}

.css-1f11nhg:hover{
    transform: scale(1.15);
    transition: 1s;
}

.css-1f11nhg:not(:hover){
    transform: scale(1);
    transition: 1s;
}

.MuiPaper-root{
    background-color: #feebc8a5 !important;
    color: black;
}

.MuiContainer-root{
    background-color: #feebc8a5 !important;
    color: black;
}

.MuiButton-text{
    color: black !important;
}